doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
        title Link: The Gathering
    body 
        .container 
            h1 Link: The Gathering
            .content
                //- .photobox photo
                .linkblock 
                    //- button.str#strava 
                    //-     a(href="https://www.strava.com/athletes/62796261") Strava
                    .link#strava 
                        a(href="https://www.strava.com/athletes/62796261") Strava
                    .link#insta 
                        a(href="https://www.instagram.com/tz.rs/") Instagram
                    .link#github 
                        a(href="https://github.com/tztaras") Github
                    .link#facebook 
                        a(href="https://www.facebook.com/zadorozhnyi.taras") Facebook