doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="./img/favicon.ico", type="image/x-icon")
        title Link: The Gathering
    body 
        .wrapper 
            .content
                .header
                    h1 Taras Zadorozhnyi 
                .container
                
                        .linkblock 
                            a(href="https://www.strava.com/athletes/62796261") 
                                .link#strava &#127939 STRAVA
                                
                            a(href="https://www.linkedin.com/in/taras-zadorozhnyi-0bb3a9272") 
                                .link#lkd &#x1F517 LinkedIn 
                                
                            a(href="https://www.instagram.com/tz.rs/") 
                                .link#insta &#x1F4F7 INSTAGRAM
                            
                            a(href="https://www.github.com/tztaras") 
                                .link#github &#x1F431 GitHub 
                                
                            a(href="https://www.facebook.com/zadorozhnyi.taras") 
                                .link#facebook &#128214 Facebook 
                                
                        .photobox 
                            .cat 
                                img(src="./img/linkus-maxima.png", alt="cat creating spell on links above", srcset="")
                            .boxforsmoke 
                                #smoke 
                                    span.s0 
                                    span.s1 
                                    span.s2 
                                    span.s3 
                                    span.s4 
                                    span.s5 
                                    span.s6 
                                    span.s7 
                                    span.s8 
                                    span.s9 
                