doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="./img/favicon.ico", type="image/x-icon")
        title Link: The Gathering
    body 
        .container 
            h1 Taras Zadorozhnyi
            .content
                
                .linkblock 
                    a(href="https://www.strava.com/athletes/62796261") 
                        .link#strava &#127939; Strava
                        
                    a(href="") 
                        .link#lkd  LinkedIn
                     
                    a(href="https://www.instagram.com/tz.rs/") 
                        .link#insta 
                            | &#128247; Instagram
                     
                    a(href="https://github.com/tztaras") 
                        .link#github &#x1F431; Github
                     
                    a(href="https://www.facebook.com/zadorozhnyi.taras") 
                        .link#facebook &#128366; Facebook
                .photobox 
                    .cat 
                        img(src="./img/linkus-maxima.png", alt="", srcset="")
                