html body {
    height: 100vh;
    /* background: rgb(67, 137, 139); */
    background: rgb(139, 102, 67);
    box-shadow: inset 0 0 80px 20px rgb(54, 54, 54);
    margin: 0;
}

.wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



.content {
    flex: 1 1 auto;
}

.header {
    height: 150px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: auto;
    padding-top: 80px;
    text-align: center;
    color: aliceblue;
    text-shadow: 1px 2px 5px #000000;
    /* responsive font */
    font-size: clamp(26px, 4vw, 42px);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.photobox {
    display: flex;
    flex-direction: row;
}

.cat {
    height: auto;
}

.cat>img {
    max-width: 200px;
    rotate: -12deg;
}



.linkblock {
    margin: 20px 20px 20px 20px;
    border: 5px dotted rgb(255, 255, 255);
    border-radius: 36% 19% 44% 10% / 35% 70% 25% 4%;
    padding: 35px 10%;
}

.link {
    border: 1px solid rgb(87, 84, 84);
    margin: 10px 10px;
    color: rgb(255, 255, 255);
    display: flex;
    min-width: 143px;
    height: 45px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 1px rgb(83, 78, 78);
    font-size: 25px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 25px;
    padding-bottom: 3px;
}

.link>img {
    height: 80%;
}

.link:hover {
    transform: scale(1.005);
    opacity: 0.9;
}

#strava {
    box-shadow: 0px 0px 5px 1px rgb(83, 78, 78);
    text-shadow: 1px 1px 4px #111111;
    background: linear-gradient(900deg, rgba(255, 94, 0, 0.767) 10%, orangered 90%);
}

#lkd {
    background: rgb(10, 102, 194);
    box-shadow: 0px 0px 5px 1px rgb(9, 13, 240);
    border: navy;
    text-shadow: none;
}

a {
    text-decoration: none;
    width: max-content;
}

#strava>a,
#insta>a,
#facebook>a,
#lkd>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#insta {
    text-shadow: 1px 1px 4px #111111;
    background: linear-gradient(177deg, rgb(111, 49, 255), rgb(132, 0, 255), rgb(207, 15, 255), rgb(255, 14, 14), #f36235, rgb(231, 231, 0), #ecca58);
}

#github {
    background: rgb(246, 248, 250);
    color: #111111;
    box-shadow: 0px 0px 5px 1px rgb(197, 197, 197);
    border: 1px solid rgb(190, 190, 190);
    text-shadow: none;
}

#github>a {
    color: rgb(24, 24, 24);
    text-decoration: none;
}

#facebook {
    background: rgb(59, 89, 152);
    border: 1px solid rgb(179, 179, 179);
    text-shadow: none;
}

@media (max-width:375px) {

    .wrapper {
        overflow: visible;
    }

    .link {
        font-size: 16px;
        height: 28px;
    }

    .cat>img {
        max-width: 150px;
    }
}


@media (max-height:783px) {

    .wrapper {
        height: 100vh;
        overflow: auto;
    }

    .header {
        height: 80px;
    }

    h1 {
        padding-top: 40px;
    }

    .link {
        font-size: 18px;
        height: 30px;
    }
}

.boxforsmoke {
    position: absolute;
    /* bottom: 28%; */
    left: 28%;
    /* position: relative;
    bottom: 50%;
    left: 50%; */

    background-color: none;
    border: 1px solid rgb(255, 255, 255);
    overflow: hidden;
    height: 100px;
    width: 130px;

}

#smoke {
    position: relative;
    z-index: 3;
    width: 1px;
    height: 80px;
    /* left: 50%; */
    bottom: -37%;
    transform: rotate(25deg);
}

#smoke span {
    display: block;
    position: absolute;
    /* bottom: -45px; */
    /* /* left: 50%; */
    /* margin-left: -20px; */
    height: 0px;
    width: 0px;
    border: 35px dotted rgb(255, 255, 255);
    border-radius: 35px;
    /* left: -14px; */
    opacity: 0;
    transform: scale(0.1);
}

#smoke .s0 {
    animation: smokeL 10s 0s infinite;
}

#smoke .s1 {
    animation: smokeR 10s 1s infinite;
}

#smoke .s2 {
    animation: smokeL 10s 2s infinite;
}

#smoke .s3 {
    animation: smokeR 10s 3s infinite;
}

#smoke .s4 {
    animation: smokeL 10s 4s infinite;
}

#smoke .s5 {
    animation: smokeR 10s 5s infinite;
}

#smoke .s6 {
    animation: smokeL 10s 6s infinite;
}

#smoke .s7 {
    animation: smokeR 10s 7s infinite;
}

#smoke .s8 {
    animation: smokeL 10s 8s infinite;
}

#smoke .s9 {
    animation: smokeR 10s 9s infinite;
}

@keyframes smokeL {
    0% {
        transform: scale(0.2) translate(0, 0);
    }

    10% {
        opacity: 1;
        transform: scale(0.2) translate(0, -5px);
    }

    100% {
        opacity: 0;
        transform: scale(1) translate(-20px, -130px);
    }
}

@keyframes smokeR {
    0% {
        transform: scale(0.2) translate(0, 0);
    }

    10% {
        opacity: 1;
        transform: scale(0.2) translate(0, -5px);
    }

    100% {
        opacity: 0;
        transform: scale(1) translate(20px, -130px);
    }

}